body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
  position: static;
  z-index: 1;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 500;
}

h2 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 3.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-nav {
  padding-right: 0;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* image */
.title-image {
  position: absolute;
  right: 25%;
  width: 20%;
}

.rotated {
  transform: rotate(25deg);
  /* transform: skew(, 20deg); */
}

/* Features */
#features {
  background-color: #fff;
  padding: 10% 15%;
  text-align: center;
  position: relative;
  /* z-index: 1; Because its positioned and coming later so not needed */
}

.fas {
  padding-bottom: 5%;
  color: #ef8172;
  font-size: 3rem;
}

.fas:hover {
  color: #ff4c68;
}

.description {
  color: #8f8f8f;
}

/* Testimonial section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press section */
#press {
  padding-bottom: 3%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  text-align: center;
  padding: 10% 15%;
  margin: 20px;
}

/* cta */
#cta {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
}

/* Footer */
#footer {
  text-align: center;
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}

.copyright {
  color: grey;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
